services:

  auth_db:
    image: postgres:13
    container_name: auth_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - auth_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  auth_app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_app
    environment:
      DB_URL: ${DB_URL}
      JWT_SECRET: ${JWT_SECRET_KEY}
      JWT_ALGORITHM: ${JWT_ALGORITHM}
    ports:
      - "8000:8000"
    depends_on:
      - auth_db
    volumes:
      - ./app:/app/app
    restart: unless-stopped

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080"
    depends_on:
      - auth_db

volumes:
  auth_db_data:
